<mat-toolbar>
  <mat-toolbar-row>
    <span>Online Store</span>
    <span class="menu_spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons">menu</i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Log out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="product_body">
  <div class="product_col1">
    <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="false"></p-galleria>
  </div>
  <div class="product_col2">
    <h1>
      Awesome Title
    </h1>
    <p>
      Lorem ipsum sit amet, et laudem et gloriam suam fiat voluntas tua, sicut erat in principio et nunc et semper et in secula saeculorum, Lorem ipsum sit amet, et laudem et gloriam suam fiat voluntas tua, sicut erat in principio et nunc et semper et in secula saeculorum.
    </p>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <mat-select #fontSize value="16px" color="dark" (selectionChange)="null">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    <h2>
      $99.99
    </h2>
    <button class="buy_button" mat-raised-button> Pedir Ahora</button>    <br/> 
    <button class="onlyText_button" mat-button> Política de envío</button>

  </div>
</div>
<div class="footer">
  <div>
    <a href="">
      <h5>Contacto</h5>
    </a>
  </div>
  <div>
    <a href="">
      <h5>Politica de envíos</h5>
    </a>
  </div>
  <div>
    <a href="">
      <h5>Sobre nosotros</h5>
    </a>
  </div>
</div>