<div class="container my-4">
  <div class="grid m-0 p-0">
    <div class="item" (click)="router.navigateByUrl('/mas-info')">
      <app-overlap-image 
      imageURL="https://i.imgur.com/QrRq0P6.jpg"
      imageText="Sobre Nosotros"
      ></app-overlap-image>      
    </div>
    <div class="item" (click)="router.navigateByUrl('/como-funciona')">
      <app-overlap-image 
      imageURL="https://i.imgur.com/I9dw5qt.jpg"
      imageText="Como Funciona"
      ></app-overlap-image>      
    </div>
    <div class="item" (click)="router.navigateByUrl('/que-es-cbd')">
      <app-overlap-image 
      imageURL="https://i.imgur.com/E0dSCQ1.jpg"
      imageText="Que es el CBD"
      ></app-overlap-image>      
    </div>
    <div class="item" (click)="router.navigateByUrl('/como-funciona')">
      <app-overlap-image 
      imageURL="https://i.imgur.com/6JGGBC9.jpg"
      imageText="Productos de Calidad"
      ></app-overlap-image>      
    </div>
  </div>
</div>
