<div class="online_store_container">
  <div class="online_store_banner">
    <div class="online_store_banner_layer">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>Online Store</span>
          <span class="menu_spacer"></span>
          <button mat-button [matMenuTriggerFor]="menu">
            <i class="material-icons">menu</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Log out</button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <div class="products_title">
    <h2>Nuestros Productos</h2>
  </div>
  <div class="products_grid">
    <mat-grid-list [cols]="gridColums" rowHeight="13rem">
      <mat-grid-tile class="single_product" *ngFor="let product of productsCatalogData">
        <div class="product_container">
          <img [src]="product.productImage" alt="">
          <h3>{{product.productTitle}}</h3>
          <h6>{{product.productPrice}}</h6>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<div class="footer">
  <div>
    <a href="">
      <h5>Contacto</h5>
    </a>
  </div>
  <div>
    <a href="">
      <h5>Politica de envíos</h5>
    </a>
  </div>
  <div>
    <a href="">
      <h5>Sobre nosotros</h5>
    </a>
  </div>
</div>

