<mat-tab-group>
  <mat-tab label="CBD (Cannabidiol)">
    <img src="https://i.imgur.com/7FOjCSl.png" alt="">
    <div class="product_title cbd_title">
      CDB (Cannabidiol):
    </div>
    <div class="cbd_content">
      Considerado el cannabinoide terapéutico debido a sus muchas posibles propiedades beneficiosas (analgésicas,
      antiinflamatorias, antináuseas y otras) que son tanto efectivas como no intoxicantes. Se necesita más
      investigación para comprender todo el potencial terapéutico.
    </div>
  </mat-tab>
  <mat-tab label="CBG (Cannabigerol)">
    <img src="https://i.imgur.com/gQnsuje.png" alt="">
    <div class="product_title cbd_title">
      CBG (Cannabigerol):
    </div>
    <div class="cbd_content">
      The first cannabinoid ever identified. It has displayed antifungal, antibacterial, antidepressant, and
      pain-relieving properties–and is non-intoxicating like CBD.
    </div>
  </mat-tab>
  <mat-tab label="CBN (Cannabinol)">
    <img src="https://i.imgur.com/wmH0T7B.png" alt="">
    <div class="product_title cbd_title">
      CBN (Cannabinol):
    </div>
    <div class="cbd_content">
      Shown to promote better sleep, help sedate the body, alleviate pain and nausea, and support a sense of calm–with
      minimal intoxicating effects.
    </div>
  </mat-tab>
  <mat-tab label="CBC (Cannabichromene)">
    <img src="https://i.imgur.com/15BcdGZ.png" alt="">
    <div class="product_title cbd_title">
      CBC (Cannabichromene):
    </div>
    <div class="cbd_content">
      Studies demonstrate benefits to mood, pain, inflammation, brain cells, and even acne. It is non-intoxicating and
      aids in the “entourage effect.”
    </div>
  </mat-tab>
  <mat-tab label="THC (Tetrahydrocannabinol)">
    <img src="https://i.imgur.com/aOp0dji.png" alt="">
    <div class="product_title cbd_title">
      THC (Tetrahydrocannabinol):
    </div>
    <div class="cbd_content">
      Proven to sedate, relax, and relieve. Can also affect cognition, consciousness, mood, and energy level—as it's
      intoxicating.
    </div>
  </mat-tab>
</mat-tab-group>
