<div class="quality_products">
  <div class="quality_products_banner">
    <div class="online_store_banner_layer">
      <mat-toolbar style="background: transparent;">
        <div class="banner_content" [routerLink]="['/inicio']">
          <img class="banner_logo" src="https://i.imgur.com/sGB2JwW.png" alt="">
          <span class="banner_text">
            <p>CBD Cuenca Ecuador</p>
          </span>
        </div>
        <div class="banner_add">
        </div>
        <span class="menu_spacer"></span>
        <app-menu isWhite></app-menu>
      </mat-toolbar>
    </div>
  </div>
  <div style="
      padding: 40px 40px;
      background-color: #034225;
      color: #fff;
      display: flex;
      justify-content: center;
      text-align: center;
      line-height: 1.5rem;
  ">
    Nuestros productos contienen la más alta calidad
  </div>
  <div class="products_title" style="margin: 2rem ;">
    <h1 class="product_title">Conozca el Proceso de nuestros productos</h1>
  </div>

  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/HN2kt35.png" alt="">
    <h2 class="product_title">CULTIVO DE CÁÑAMO ORGÁNICO</h2>
    <div class="cbd_content">
      La agricultura a lo largo del paralelo 45 en el centro de Oregón es un clima de crecimiento ideal para nuestro
      cáñamo orgánico certificado.
    </div>
  </div>
  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/D0uWUv6.png" alt="">
    <h2 class="product_title">COSECHA DE CÁÑAMO</h2>
    <div class="cbd_content">
      Dejamos que nuestro cáñamo se seque al aire libre en el campo y luego cosechamos los cogollos con nuestra
      cosechadora.
    </div>
  </div>
  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/xPvtXYj.png" alt="">
    <h2 class="product_title">PROBANDO EL CÁÑAMO</h2>
    <div class="cbd_content">
      El material vegetal de cada sección de nuestras tierras de cultivo se somete a pruebas rigurosas de metales
      pesados, pesticidas y nivel de potencia.
    </div>
  </div>
  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/UP3nbII.png" alt="">
    <h2 class="product_title">EXTRAYENDO LA BIOMASA</h2>
    <div class="cbd_content">
      Los cannabinoides, terpenos y flavonoides se extraen del cáñamo con etanol criogénico y se filtran para eliminar
      las impurezas.
    </div>
  </div>
  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/sfUVwZb.png" alt="">
    <h2 class="product_title">FORMULACIÓN CON INGREDIENTES EFECTIVOS</h2>
    <div class="cbd_content">
      Todos nuestros aceites esenciales, suplementos de hierbas e ingredientes orgánicos se eligen cuidadosamente para
      que sean funcionales, efectivos y sostenibles.
    </div>
  </div>
  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/QaAxyQe.png" alt="">
    <h2 class="product_title">PRUEBAS DE TERCEROS</h2>
    <div class="cbd_content">
      Cada lote de tinturas, tópicos, cápsulas y productos para mascotas se somete a pruebas de terceros para detectar
      solventes residuales, metales pesados, pesticidas, impurezas microbianas y potencia. Visite nuestro Repositorio de
      resultados de pruebas o haga clic en la pestaña Resultados de pruebas en cualquier página de producto para ver
      fácilmente los resultados.
    </div>
  </div>
  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/jeIhxEJ.png" alt="">
    <h2 class="product_title">EMBALAJE EN EL QUE PUEDE CONFIAR</h2>
    <div class="cbd_content">
      Nuestras instalaciones de fabricación cumplen con cGMP (buenas prácticas de fabricación actuales). Todos nuestros
      productos son íntegros desde que salen de nuestras manos hasta que llegan para aliviar las tuyas.
    </div>
  </div>
  <div class="flex justify_center" style="flex-direction: column;align-items: center;">
    <img style=" width: 50%; margin-bottom: 1rem;" src="https://i.imgur.com/cc0R9bh.png" alt="">
    <h2 class="product_title">CUMPLIDO INTERNAMENTE</h2>
    <div class="cbd_content">
      Procesamos y enviamos cada pedido nosotros mismos, desde los materiales biodegradables y reciclados utilizados
      para empacar cada caja hasta nuestras meticulosas listas de control internas.
    </div>
  </div>
  <div class="image_certification_container">
    <img style="width: 100%;" src="https://i.imgur.com/mWpMq52.png" alt="">
  </div>
  <div class="image_certification_container">
    <img style="width: 100%;" src="https://i.imgur.com/RGItFXa.png" alt="">
  </div>
  <div class="bottom_img">
    <h2 class="img_title">
      PARA ENCONTRAR QUÉ PRODUCTO FUNCIONA MEJOR PARA USTED, CONTÁCTESE CON NOSOTROS.
    </h2>
  </div>
</div>
<app-footer></app-footer>
<style>
  .product_title {
    text-align: center;
  }

  .justify_center {
    margin-bottom: 4rem;
  }

  .image_certification_container {
    padding: 0 2rem;
    margin: 4rem 0;
  }

  .bottom_img {
    width: 100%;
    background-image: url(https://i.imgur.com/gU3f1b7.png);
    height: 20rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 6rem;
  }
  .img_title {
    text-align: center;
    padding: 3rem 1rem;
    color: white;
    text-shadow: 0 0 2px #000;
  }
</style>