<div class="product_item_banner">
  <div class="product_item_banner_layer">
    <mat-toolbar class="toolbar_item">
      <mat-toolbar-row>
        <div class="banner_content" [routerLink]="['/inicio']">
          <img class="banner_logo" src="https://i.imgur.com/sGB2JwW.png" alt="">
          <span class="banner_text">
            <p>Cannabidiol Ecuador</p>
          </span>
        </div>
        <span class="menu_spacer"></span>
        <button mat-button [routerLink]="['/carrito']">
          <i class="material-icons">shopping_cart</i>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<div class="product_body" *ngIf="!emptyCart">
  <div class="product_col1">
    <h1>Carrito de compras:</h1>
  </div>
  <div class="product_col2">
    <mat-card>
      No tienes productos en tu carrito de compras:
    </mat-card>
  </div>
</div>
<div class="product_body" *ngIf="emptyCart">
  <div class="product_col1">
    <h1>Carrito de compras:</h1>
    <table class="table_cart">
      <tr>
        <th></th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
      <tr *ngFor="let item of cartItems.products">
        <td class="image_col">
          <img [src]="item.productImage" alt="">
        </td>
        <td>{{item.productName}}</td>
        <td>{{item.productQuantity}}</td>
        <td>{{item.productPrice}}</td>
      </tr>

    </table>


    <button style="margin-bottom: 5%;" class="see_cart_button" mat-raised-button [routerLink]="['/inicio']"
      (click)="removeCartItems()">
      Vaciar carrito
      <i style="font-size: 15px;" class="material-icons">remove_shopping_cart</i>
    </button> <br />

  </div>


  <div class="product_col2">
    <div [hidden]="numberSaved">
      <mat-card class="input_phone">
        <h3>Llena tus datos para realizar tu pago</h3>
        <h5> Puedes escoger entre dos opciones de pago: 
          <br /><span class="transfer_text">- Tarjeta de Crédito</span> 
          <br /><span class="transfer_text">- Depósito/Transferencia</span>
          <br /><br /> Asegurate de llenar los datos correctamente para realizar el envío de tus
          productos, no dudes en contactarnos si tienes alguna duda.</h5>
        <div>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Primer nombre*" [(ngModel)]="client.clientFirstName" name="clientName">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Segundo nombre" [(ngModel)]="client.clientSecondName" name="clientName">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Primer apellido*" [(ngModel)]="client.clientFirstLastname" name="clientLastname">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Segundo apellido" [(ngModel)]="client.clientSecondLastname" name="clientLastname">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Cédula*" [(ngModel)]="client.clientId" name="clientLastname">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Teléfono*" [(ngModel)]="client.clientPhoneNumber" name="clientPhoneNumber">
          </mat-form-field>
          <mat-form-field class="cart_client_data" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <input matInput placeholder="Correo electrónico*" [(ngModel)]="client.clientMail" name="clientMail">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Ciudad*" [(ngModel)]="client.clientCity" name="clientCity">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Calle principal* - número de casa" [(ngModel)]="client.clientAddress1" name="clientAddress1">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Calle secundaria*" [(ngModel)]="client.clientAddress2" name="clientAddress2">
          </mat-form-field>
          <mat-form-field class="cart_client_data">
            <input matInput placeholder="Referencia" [(ngModel)]="client.clientReference" name="clientAddress2">
          </mat-form-field>
        </div>
        <div>
          <button class="transfer_button" style="width: 15rem;" mat-raised-button (click)="payPhoneRedirect()">
            Tarjeta de Crédito / Payphone 
            <span class="material-icons"> payment </span>
          </button> <br />
          <button class="see_cart_button" style="width: 15rem;" mat-raised-button (click)="openTransferModal()">
            Depósito / Transferencia
            <span class="material-icons">monetization_on</span>
          </button> <br />
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div class="footer">
  <div>
    <a (click)="openDialog(2)">
      <h5>Contacto</h5>
    </a>
  </div>
  <div>
    <a (click)="openDialog(3)">
      <h5>Política de envíos</h5>
    </a>
  </div>
  <div>
    <a (click)="openDialog(4)">
      <h5>Sobre nosotros</h5>
    </a>
  </div>
</div>