/* You can add global styles to this file, and also import other style files */
$theme_gray: #575859;
$theme_dark_green: #72A624;
$theme_light_green: #BED996;
$theme_white: #F2F2F2;
$theme_black: #262626;
$mobile_size: 435px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-login-page mat-card {
	margin: 10% 30% 30% 30%;
    padding: 10%;
}

app-repair-orders mat-card {
	margin: 10% 10% 10% 10%;
    padding: 10%;
}

table {
	text-align: center;
}

.product_container img {
	width: 6rem;
}
.product_body img {
	width: 100%;
}

.menu_spacer {
	flex: 1 1 auto;
}

a { 
	color: inherit; 
	text-decoration: none;
} 

//=============== Online Store Page ===============
.online_store_banner {
	height: 18rem;
	background-image: url('assets/images/banner_photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	background-position-y: -12rem;
	background-attachment: fixed;
	position: relative;
	.online_store_banner_layer {
		background-color: rgba(33, 33, 33, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mat-toolbar {
			background-color: transparent;
			color: white;
		}
	}
}
.products_title {
	text-align: center;
	margin: 3rem 0;
}

.product_container{
	text-align: center;
}

.banner_content {
	margin: 1rem 0 0 1rem;
	.banner_logo {
		width: 3rem;
	}
	
	.banner_text {
		margin: -10px 0 -10px 15px;
		position: absolute;
	}	
}

.banner_add {
	margin: 9rem 0 0 4%;
	position: absolute;
	display: flex;
	top: -8.5rem;
	right: 17rem;
	.banner_add_image {
		width: 40%;
		height: 40%;
	}
	.info_button {
		margin: 17% 6%;
		width: 10rem;
		height: 40px;
		background-color: $theme_dark_green;
		color: $theme_white;
	}
}
@media (max-width: $mobile_size) {
	.banner_add {
		top: -3.75rem;
		right: 0;
	}
}


//=============== Product Item Page ===============
.product_title {
	color: #115b02;
	margin: 0rem 0;
}
.product_title_small {
	margin: 0.5rem 0;
}
.product_subtitle {
    color: #d92460;
    margin: 0.5rem 0;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.product_title_description {
	margin: 0.5rem 0;
    text-shadow: -1px 0px black;
}

.product_body {
	display: flex;
	margin: 5% 5% 0 10%;
	.product_col1, .product_col2 {
		width: 50%;
	}

	.buy_button {
		width: auto;
		background-color: $theme_dark_green;
		color: $theme_white;
	}

	.see_cart_button {
		margin-top: 20px;
		width: auto;
		background-color: $theme_black;
		color: $theme_white;
	}

	.onlyText_button {
		width: 10rem;
	}

	.transfer_text {
		font-size: 15px;
	}

	.transfer_button {
		width: 12rem;
		background-color: $theme_dark_green;
		color: $theme_white;
	}

	.ui-galleria-filmstrip-wrapper {
		margin-top: 30px !important;
	}
}
.product_description_mobile, .product_uses_mobile {
	display: none;
}
.product_uses_desktop {
	margin: 0 10% 0 0;
	display: block;
}
@media (max-width: 1000px) {
	.product_body {
		display: block;
		margin: 5% 10% 0 10%;
		.product_col1, .product_col2 {
			width: 100%;
		}
		.product_description_mobile, .product_uses_mobile {
			display: block;
		}
		.product_uses_desktop {
			display: none;
		}
	}
  }
@media (max-width: 1600px) {
	.product_body {
		.ui-galleria-filmstrip-wrapper {
			margin-top: 0px !important;
		}
	}
}
@media (min-width: 1600px) {
	.product_body {
		.ui-galleria-filmstrip-wrapper {
			margin-top: 95px !important;
		}
	}
}
@media (min-width: 1900px) {
	.product_body {
		.ui-galleria-filmstrip-wrapper {
			margin-top: 230px !important;
		}
	}
}

.product_quantity {
	color: $theme_black;
}

.product_item_banner {
	height: 18%;
	background-image: url('assets/images/banner_photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	background-position-y: -24rem;
	background-attachment: fixed;
	position: relative;
	.product_item_banner_layer {
		background-color: rgba(33, 33, 33, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.toolbar_item {
			background-color: transparent;
			color: white;
		}
	}
}

.product_values {
	margin-left: 10%;
}

.dialog p img {
	width: 100%; padding: 0 10% 0;
}

//=============== My Cart Page ===============

.table_cart {
	.image_col {
		width: 60px;
	}
	th {
		width: 10rem;
	}
	margin-bottom: 10%;
}
.input_phone {
	margin: 15%;

}
@media (max-width: $mobile_size) {
	.input_phone {
		margin: 0%;
		margin-bottom: 50%;

	}
}

//=============== FOOTER ===============
.online_store_container, .product_body {
	padding-bottom: 5rem;
}
.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	display: flex;
	height: 2.5rem;
	background-color:#262626;
	padding-bottom: 2%;  
	div {
		width: 33%;
		text-align: center;
		h5 {
			color: #FFF;
			box-sizing: content-box;
			margin: 0px;
			padding-top: 13px;
		}
	}
}

.ui-panel-images {
	width      : 100% !important;
	height     : 100% !important;
	object-fit : contain !important;
}

.cart_client_data {
	width: 50%;
    padding: 0px 20% 0 0;
}

.mat-focused .mat-form-field-label {
	color: $theme_dark_green !important;
}